
{% extends "base.html" %}
{% block  main_content %}
    <div class="main_funnel_hero">

        <div class="main_funnel_hero_visual">

            {% if funnel_hero_img %}
                <img src="{{funnel_hero_img}}" class="funnel_hero">
            {% else %}
                {{funnel_hero_md|safe}}
            {% endif %}
        </div>
        
        <div class="main_funnel_hero_form">
            <form name="new_user_n_info_form" id="new_user_n_info_form" action="" method="post">
                {% csrf_token %}

                    {{new_user_form.as_p|safe}}


                    {% for key, value in funnel_input_form.items %}
                    <p>
                        <label for="{{key}}">{{key}} :</label><br>
                        {% if value|length == 1%}
                            <textarea id="{{key}}" name="{{key}}" placeholder={{value}}></textarea>
                        {% else %}
                            <select name="list_{{key}}" id="list_{{key}}">
                                {% for i in value %}
                                    <option value="{{i}}">{{i}}</option>
                                {% endfor %}
                            </select>

                        {% endif %}
                    </p>
                    {% endfor %}
                    
                    <input type="submit" value="{{campaign_funnel.funnel_name}}">
            </form>
        </div>
    </div>
{% endblock  %}