:root {
    --bg-dark: oklch(0.1 0.075 255);
    --bg: oklch(0.15 0.075 255);
    --bg-light: oklch(0.2 0.075 255);
    --text: oklch(0.96 0.1 255);
    --text-muted: oklch(0.76 0.1 255);
    --highlight: oklch(0.5 0.15 255);
    --border: oklch(0.4 0.15 255);
    --border-muted: oklch(0.3 0.15 255);
    --primary: oklch(0.76 0.15 255);
    --brand: #f02020;
    --secondary: oklch(0.76 0.15 75);
    --danger: oklch(0.7 0.15 30);
    --warning: oklch(0.7 0.15 100);
    --success: oklch(0.7 0.15 160);
    --info: oklch(0.7 0.15 260);


    --lg-bg-dark: oklch(0.92 0.075 255);
    --lg-bg: oklch(0.96 0.075 255);
    --lg-bg-light: oklch(1 0.075 255);
    --lg-text: oklch(0.15 0.15 255);
    --lg-text-muted: oklch(0.4 0.15 255);
    --lg-highlight: oklch(1 0.15 255);
    --lg-border: oklch(0.6 0.15 255);
    --lg-border-muted: oklch(0.7 0.15 255);
    --lg-primary: oklch(0.4 0.15 255);
    --lg-secondary: oklch(0.4 0.15 75);
    --lg-danger: oklch(0.5 0.15 30);
    --lg-warning: oklch(0.5 0.15 100);
    --lg-success: oklch(0.5 0.15 160);
    --lg-info: oklch(0.5 0.15 260);
}

body {
    font-family: 'Lucida Consosle', monospace;
    background: var(--bg);
    color: var(--text);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.top_nav {
    color: var(--text) !important;
}

.top_nav a {
    color: var(--text) !important;
}

.bottom-nav {
    color: var(--text) !important;
    left: 0;
    bottom: 0;
    right: 0;
}

.readme {
    border-radius: 5px;
  background-color: var(--bg-light);
  padding: 1rem 2rem;
}

.readme img {
    width: 100%;
}

.project_header {
    border: solid thin var(--border);
  padding: 1% 2%;
  margin: 1% 2%;
  border-radius: 10px;
}

.project_name h2 {
    font-weight: bold;
}

.project_name p a {
    text-decoration: none !important;
    color: var(--text-muted);
}

.project_name p a:hover {
    text-decoration: none !important;
    color: var(--text);
}

form {
    display: flex;
    flex-flow: column;
    width: fit-content;
    margin: 1rem 2rem;
}

form p {
  display: flex;
  flex-flow: column;
}

form p label {
    color: var(--text-muted);
}

form p input {
    background-color: var(--bg-dark);
    color: var(--text-muted);
    border: solid thin var(--border);
    border-radius: 5px;
}

form p select {
    background-color: var(--bg-dark);
    color: var(--text-muted);
    border: solid thin var(--border);
    border-radius: 5px;
}

form p textarea {
    background-color: var(--bg-dark);
    color: var(--text-muted);
    border: solid thin var(--border);
    border-radius: 5px;
}

form p input:hover {
    background-color: var(--bg-light);
    color: var(--text);
    border: solid thin var(--border-muted);
    border-radius: 5px;
}

form p select:hover {
    background-color: var(--bg-light);
    color: var(--text);
    border: solid thin var(--border-muted);
    border-radius: 5px;
}

form p textarea:hover {
    background-color: var(--bg-light);
    color: var(--text);
    border: solid thin var(--border-muted);
    border-radius: 5px;
}

.project_type_p {
    background: var(--bg-dark);
    padding: 0.25rem 1rem;
    color: var(--text-muted) !important;
    border: thin solid var(--border-muted) !important;
    border-radius: 15px !important;
    align-self: center;
}

.project_nav {
    display: flex;
  justify-content: space-between;
}

.project_card {
    width: 45%;
    margin: 2%;
    border: solid thin var(--border);
    border-radius: 5px;
    display: flex;
    background: linear-gradient(0deg, var(--bg-light) 0%, var(--bg-dark) 100%) ;
    padding: 1rem;
    justify-content: space-evenly;
    min-height: 16rem;
}

.project_card:hover {
    width: 45%;
    margin: 2%;
    border: solid thin var(--border-muted);
    border-radius: 5px;
    display: flex;
    background: var(--bg-light);
    padding: 1rem;
    justify-content: space-evenly;
    min-height: 16rem;
}

.project_card img { 
    max-width: 60%;
    margin-right: 3%;
}

.projects_list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1% 2%;
    background: linear-gradient(0deg, var(--bg) 0%, var(--bg-light) 100%) ;
}

.card-body {
    display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.card-body p {
    font-size: 14px;
  color: var(--text-muted);
}

.card-body a {
    align-self: center;
}

.card-body h5 {
    font-weight: bold;
}

.card-body li {
    background: var(--bg-dark);
    padding: 0.25rem 1rem;
    color: var(--text-muted) !important;
    border: thin solid var(--border-muted) !important;
    border-radius: 15px !important;
    align-self: center;
}

@media screen and (max-width: 600px) {
    .project_card {
        width: 95%;
        margin: 2%;
        border: solid thin var(--border);
        border-radius: 5px;
        display: flex;
        background: linear-gradient(0deg, var(--bg-light) 0%, var(--bg-dark) 100%) ;
        padding: 1rem;
        justify-content: space-evenly;
        min-height: 16rem;
    }

    .project_card:hover {
        width: 95%;
        margin: 2%;
        border: solid thin var(--border-muted);
        border-radius: 5px;
        display: flex;
        background: var(--bg-light) ;
        padding: 1rem;
        justify-content: space-evenly;
        min-height: 16rem;
    }

}